*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #d5e1ef;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}
.box{
  padding: 20px;
  border-radius: 20px;
  background-color: white;
  width: 400px;
  text-align: center;
  -webkit-box-shadow: 2px 6px 24px -9px rgba(0,0,0,0.72); 
  box-shadow: 2px 6px 24px -9px rgba(0,0,0,0.72);
}
.box img{
  border-radius: 12px;
  height: 400px;
  width: 400px;
}
.box h1{
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: bold;
}
.box p{
  font-size: 23px;
}